html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.heart {
    color: red;
}

#container {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

h1 {
    font-family: sans-serif;
    font-weight: lighter;
}

h1 > p {
    font-size: 10px;
    color: grey;
}

.outcol {
    float: left;
    display: inline-block;
    width: 250px;
    min-height: 400px;
}

.outcol > h3 {
    font-family: sans-serif;
    font-weight: lighter;
}

.output {
    font-size: 12px;
    font-family: "Courier New", monospace;
}

#footer {
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-align:right;
}

#footer > a {
    color: #008416;
}
